@font-face {
  font-family: "font";
  src: url("./400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "font";
  src: url("./700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  font-family: "font";
  font-size: 18px;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin: 32px 0;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin: 28px 0;
}
